@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

body {
	margin: 0;
	font-family: Arial;
	font-family: "Roboto", sans-serif;
}

ul li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #114968;
}

li {
	float: left;
}

ul li a {
	padding: 0px 20px;
	text-decoration: none;
	color: white;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #fff;
}

a:active {
	color: #00aeef;
}

a:focus {
	color: #00aeef;
}

a:hover {
	color: #00aeef;
}