/*///////////////////////////////////////////////////////////////////////////////////////////////////*/
.mainWrapper {
	width: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This with header div */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
 .clearfix {
  clear: both;
  overflow: hidden;
}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* icon menu before mobile view */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.icon-menu {
	position: absolute;
	right: 10px;
	font-size: 2em;
	z-index: 1;
	color: #fff; 
}

.icon-menu + input {
  width: 2em;
  height: 2em;
  position: absolute;
  /* top: 25px; */
  right: 10px;
  cursor: pointer;
  opacity: 0;
	z-index: 2;
} 

/* This shows the links on click  */
.icon-menu + input:checked ~ ul {
  margin-left: 0px;
	margin-bottom: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* nav  element contains */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* icon menu before mobile view */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* .icon-menuTwo {
	position: absolute;
	right: 10px;
	font-size: 2em;
	z-index: 1;
	color: #fff; 
}

.icon-menuTwo + input {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 25px; 
  right: 10px;
  cursor: pointer;
  opacity: 0;
	z-index: 2;
} 

 
.icon-menuTwo + input:checked ~ ul {
  margin-left: 0px;
	margin-bottom: 0px;
} */



nav {
	background-image: url("../images/kirkwood.png");
	background-repeat:no-repeat;
	background-position: center; 
} 

/* ul li {
	display: inline;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #114968;
} */


/* li {
	float: left;
} */


/* ul li a {
	padding: 0px 20px;
	text-decoration: none;
	color: white;
} */

 /* This adds blue backgound on click  the mobile css display on the top nav */
  nav ul {
  margin-left: -200px;
  /* margin-bottom: -200px;
	padding: 0; */
	
} 

/* This add the botton border between links. */
/* nav ul li {
  list-style: none;
  border-bottom: 1px solid #fff;
} */

/* This ends the css on the input click ul view on mobile view. */


/* Add this css when you have the background on the mobile view showing correcting */
/* nav ul li a {
  color: #777777;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  padding: 10px 0;
} */



.top-container {
	height: 20px;
	background-color: #00aeef;
	padding: 5px;
}

.top-container h1 {
	font-size: 22px;
	margin: -5px;
	padding: 0px;
	float: left;
}

.top-container p {
	float: left;
	margin-left: 20px;
	margin-top: 0px;
}

 .kirkWoodHeader {
	background: #004b87;
	color: #fff;
	height: 155px;
	border-bottom: 3px #114968 solid;
} 


/* Dont use below css will delete before final production */
/* .kirkWoodHeader img {
	margin-top: 45px;
	padding: 0px;
	margin:0px;
	float: right;
} */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This starts the top navigation bar in dark blue with white text color */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

 .topHeaderKirkwood {
	padding-top: 6px;
	height: 20px;
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: -3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*This is for the bottom links in the Navigation bar*/

.bottomHeaderKirkwood {
	height: 20px;
	padding-top: 10px;
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: 89px;
	box-shadow: none;
} 

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This starts the float for the weather api */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/


.content {
	padding: 5px;
}

.content h3 {
	margin-left: 100px;
}

.content img {
	margin-left: 35px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This runs the css header to slide up until the nav is in a fixed position */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.sticky {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky +.content {
	padding-top: 155px;
} 

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This starts the float for the weather api */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/



.bodyPara {
	float: left;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This is the fixed footer css */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #004b87;
	color: white;
	text-align: center;
}



@media only screen and (min-width: 640px) {
	
	
  .icon-menu {
    display: none;
	}
	/* .icon-menuTwo {
    display: none;
  } */

  .icon-menu + input {
    display: none;
	}
	
	/* .icon-menuTwo + input {
    display: none;
  } */
  nav ul {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  nav ul li {
    display: inline-block;
    border: none;
  }
  nav ul li a {
    padding: 10px 20px 10px 0px;
	}




} 
/* /////////////////////////////////// */
/* Hambuger css above */
/* /////////////////////////////////// */












