* {
	box-sizing: border-box;
}

#resultsCanvas {
        
display:none;
}





img {
	max-width: 100%;
}

body {
	padding-bottom: 150px;
	background-color: #aef6c7;
}

h1 {
	font-size: 36px;
	color: white;
	margin: 10;
	margin-left: 300px;
	padding: 5;
}
h2 {
	font-size: 18px;
	color: white;
	margin: 10;
	padding: 5;
}
h3 {
	font-size: 16px;
	color: white;
	margin: 10;
	padding: 5;
}
.voteButton {
	height: 50px;
	width: 800px;
	background-color: rgb(122, 136, 119);
	border-radius: 10px;
	clear: both;
	margin-left: 50px;
	margin-bottom: 20px;
}

.voteButton p {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 100px;
	padding-top: 15px;
	color: white;
}

.surveyText p {
	color: white;
	font-size: 16px;
	margin-left: 20px;
	padding-top: 15px;
}

header {
	position: relative;	/* positioned relative to me non-static */
	background-color: #212922;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

header img {
	float: left;
	margin-right: 10;
}

nav ul {
	position:absolute;
	top:0;
	right:0;
	/* overflow: auto; */
	border: 1px solid white;
}

nav ul li {
	/* width: 33.33333333%; */
	margin-top: 35px;
	float: left;
	padding-right: 5px;
	list-style-type: none;
	border: 1px solid yellow;
}

.rightnav a {
	color: #fff;
	display: inline-block;
	background-color: #43caa8;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 20px;
	text-decoration: none;
}



.voteImageList li { 
	width: 33.33333333%;
	float: left;
	padding: 1%;
}


button{margin-top: 20px;
margin-bottom: 20px;

}


.product-wrapper {
	float: right;
	width: 65%;
	 padding-left: 5px; 
	 padding-right: 5px;
	box-sizing: border-box;
	background-color: #294936;
}

aside {
	float: left;
	width: 35%;
	box-sizing: border-box;
}

section {
	clear: both;
	overflow: hidden;
	margin-right:5px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	background-color: #212922;
	color: #fff;
}

@media screen and (max-width: 1024px) {
  header img {
		display: none;
	}
	h1 {
		margin-left: 0px;		
	}
}
@media screen and (max-width: 650px){

nav ul {
	position: static;
 
}
nav {clear: both;
overflow: hidden;

}
h1{display: none;}
}
