

.mainWrapper {
	width: 100%;
}

/*marquee {margin-top: -13px;}*/

body {
	margin: 0;
	font-family: Arial;
}

.top-container {
	height: 20px;
	background-color: #00aeef;
	padding: 5px;
	/*  text-align: center;*/
}

.top-container h1 {
	font-size: 22px;
	margin: -5px;
	padding: 0px;
	float: left;
}

.header img {
	margin-top: 50px;
	padding: 0px;
	float: right;
}

.top-container p {
	float: left;
	margin-left: 20px;
	margin-top: 0px;
}

.header {
	padding-left: 2px;
	padding-right: 2px;
	background: #114968;
	color: #fff;
	height: 155px;
}
.content {
	padding: 5px;
	
	
}
.content h3 {
	margin-left: 100px;
}

/*
.content img {
	box-sizing: border-box;
}
*/
.sticky {
	box-sizing: border-box; 
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky +.content {
	padding-top: 190px;
}


/*This ends the header and body css above now below is the formatting for the navigation elements.*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.topHeader {
	padding-top: 6px;
	height: 20px;
	border-radius: 0px 0px 15px 15px;
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: -3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	border-bottom: 2px #00aeef solid;
	border-right: 2px #00aeef solid;
	border-left: 2px #00aeef solid;
}


/*/////////////////////////////////////////////////////*/


/*This is for the bottom links in the Navigation bar*/


.bottomHeader {
	height: 20px;
	padding-top: 10px;
	border-radius: 15px 15px 0px 0px;
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: 89px;
	box-shadow: none;
	border-right: 2px #00aeef solid;
	border-left: 2px #00aeef solid;
	box-shadow: 1px -2px 4px rgba(0, 0, 0, .5);
	border-top: 2px #00aeef solid;
}



ul li {
	display: inline;
	text-decoration: none;

}

ul li a {
	padding: 0px 20px;
	text-decoration: none;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #fff;
}

a:active {
	color: #00aeef;
}

a:focus {
	color: #00aeef;
}

a:hover {
	color: #00aeef;
	 text-shadow: 1px 1px 5px #fff ;
}



