/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This CSS page is for page modual css */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Starts the css for the drop down menu*/


li a,
.dropbtn {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
	background-color: #114968;
}

li.dropdown {
	display: inline-block;
} 

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This starts the float for the weather api */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

#cont_6d3b468dbfc6f6b875b030947d68a313 {
	float: right;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This is for the flag gif */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

#flag {
	margin-left: 5px;
}
