@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


.mainWrapper {
	width: 100%;
}



body {
	margin: 0;
	font-family: Arial;
	font-family: "Roboto", sans-serif;
}

.top-container {
	height: 20px;
	background-color: #00aeef;
	padding: 5px;
	
}

.top-container h1 {
	font-size: 22px;
	margin: -5px;
	padding: 0px;
	float: left;
}

.header img {
	margin-top: 50px;
	padding: 0px;
	float: right;
}

.top-container p {
	float: left;
	margin-left: 20px;
	margin-top: 0px;
}

.header {
/*
	padding-left: 2px;
	padding-right: 2px;
*/
	background: #004b87;
	color: #fff;
	height: 155px;
	border-bottom: 2px #114968 solid;
	
}
.content {
	padding: 5px;
	
	
}
.content h3 {
	margin-left: 100px;
}

.content img {
	margin-left: 35px;
}
.sticky {
	box-sizing: border-box; 
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky +.content {
	padding-top: 155px;
}

#flag {
	margin-left: 5px;
}
/*This ends the header and body css above now below is the formatting for the navigation elements.*/


/*/////////////////////////////////////////////////////////////////////////////////////////////////////*/

.topHeader {
	padding-top: 6px;
	height: 20px;
/*	border-radius: 0px 0px 15px 15px;*/
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: -3px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
/*
	border-bottom: 2px #00aeef solid;
	border-right: 2px #00aeef solid;
	border-left: 2px #00aeef solid;
*/
}


/*/////////////////////////////////////////////////////*/


/*This is for the bottom links in the Navigation bar*/


/*
.bottomHeader {
	height: 20px;
	padding-top: 10px;
	border-radius: 15px 15px 0px 0px;
	border-style: solid;
	border-color: #114968;
	background: #114968;
	margin-top: 89px;
	box-shadow: none;
	border-right: 2px #00aeef solid;
	border-left: 2px #00aeef solid;
	box-shadow: 1px -2px 4px rgba(0, 0, 0, .5);
	border-top: 2px #00aeef solid;
	
}
*/



ul li {
	display: inline;
	text-decoration: none;
	

}

ul li a {
	padding: 0px 20px;
	text-decoration: none;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #fff;
}

a:active {
	color: #00aeef;
}

a:focus {
	color: #00aeef;
}

a:hover {
	color: #00aeef;
	 
}

/*this starts the right click css*/
/*////////////////////////////////////////////////////////////////////////////*/

/* context menu */

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #114968;
  border: solid 2px #00aeef;
  box-shadow: 4px 4px 5px #cfcfcf;
  border-radius: 15px 15px 15px 15px;
}

.context-menu--active {
  display: block;
  margin: 0;
  padding: 0;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
  border-radius: 15px 15px 15px 15px;
}

/* tasks */

.tasks {
   list-style: none;
  margin: 0;
  padding: 0;
	height: 26px;
	padding-top: 10px;
/*	border-radius: 15px 15px 0px 0px;*/
/*
	border-style: solid;
	border-color: #114968;
*/
	background: #114968;
	margin-top: 89px;
	box-shadow: none;
/*
	border-right: 2px #00aeef solid;
	border-left: 2px #00aeef solid;
*/
/*	box-shadow: 1px -2px 4px rgba(0, 0, 0, .5);*/
/*	border-top: 2px #00aeef solid;*/

}

.task {
 display: inline;
	text-decoration: none;
	float: left;
	color:#fff;
	padding: 0px 20px;
	text-decoration: none;
}

.task:last-child {
  border-bottom: none;
}
/* content */

.contentRightClick {
  padding: 48px 0;
  border-bottom: solid 2px #cfcfcf;
}

.content__footer {
  margin-top: 12px;
  text-align: center;
}
/* header for right click */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

#cont_6d3b468dbfc6f6b875b030947d68a313 {
	float:right;
	
}
.bodyPara {
	float:left;
	
}














.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #004b87;
   color: white;
   text-align: center;
